@import "tailwindcss";

textarea,
input {
  border: 1px solid #000000;
  border-radius: 0.375rem;
  padding: 0.5rem;
  background-color: #ffffff;
}

textarea:focus,
input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgb(96 165 250 / 0.4);
  border-color: #60a5fa;
}
